<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found :(</title>
    <style>
        body {
            width: 100%;
            overflow: hidden;
        }

        div {
            width: 210px;
            margin: 170px auto;
        }

        h1, h2 {
            text-align: right;
            margin: 0;
        }

        h1 {
            font-size: 145px;
            font-family: 'LiberationSans-Bold';
        }

        h2 {
            font-size: 46px;
            font-family: 'LiberationSans-Regular';
        }

        h3 {
            font-size: 21px;
            font-family: 'LiberationSans-Regular';
        }

        p {
            font-size: 16px;
            font-family: 'LiberationSans-Regular';
        }
    </style>
</head>
<body>
<div class="not-found">
    <h1>404</h1>
    <h2 class="text-right">oops</h2>
    <h3>
        <%= title %>
    </h3>
    <p>The page you are looking for is temporarily unavailable</p>
</div>
</body>
</html>
